@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Huninn&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Fira Sans','Huninn';
}
nav {
    width: 100%;
    height: 70px;
    padding-left:15px;
    padding-right: 15px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #fff;
}
.nav-menu {
    display: flex;
    gap: 15px;
}
.nav-link {
    transition: .3s;
}
.nav-link:hover {
    color: #ffd650;
}
header {
    width: 100%;
    /* height: 600px; */
    aspect-ratio: 16 / 9;
    max-height: 600px;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid {
    display: grid;   
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    gap: 30px;
}
#about {
    padding-top: 120px;
    padding-bottom: 120px;
}
#about .grid {
    grid-template-columns: repeat(3, 1fr);
}
#about .grid-item {
    text-align: center;
}
#about .grid-icon {
    margin-bottom: 15px;
    color: #ffd650;
}
#about h2 {
    margin-bottom: 15px;
}
#about p {
    line-height: 1.6;
}
/* blog */
#blog {
    background-color: #ececec;
    padding-top: 120px;
    padding-bottom: 120px;
}
.blog-img {
    aspect-ratio: 4/3;
}
#blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#blog .grid {
    grid-template-columns: repeat(4, 1fr);
}
#blog .grid-item {
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.blog-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: #fff;
    height: 100%;
}
#blog p {
    line-height: 1.6;
}
#blog a {
    margin-top: auto;
    margin-left: auto;
    text-decoration: none;
    background-color: #ffca60;
    color: #000;
    padding: 8px 20px;
    border-radius: 8px;
    transition: .3s;
}
#blog a:hover {
    background-color: #ffdb94;
}

/* contact */
#contact {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    width: 100%;
    padding:10px 5px;
    outline: 0;
    border:#222 1px solid;
    border-radius: 5px;
    transition:.3s;
}
.form-control:focus {
    border:#ffca60 1px solid
}
.form-label {
    width: 100%;
    display: block;
    margin-bottom:5px;
}
textarea.form-control {
    height: 200px;
}
input[type='submit']{
    display: inline-block;
    padding: 8px 30px;
    background-color: #fa0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s;
}
input[type='submit']:hover {
    background-color: #ffd685;
}